<%- include('./partials/header.ejs') %>


<div class="container mb-3 mt-3">
  <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-4">
<form action="/add"
method="POST">
<%# below line <= used to show variable's(h2) value %>
<h2 class="mb-4"><%= title %></h2>
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
     <input type="text"
      class="form-control" 
      id="title" 
      aria-describedby="note"
      name="title" >
</div>
 <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" name="content" id="content"></textarea>
</div>
<div class="mb-3">
    <label for="tags" class="form-label">Tags</label>
    <input type="text" class="form-control" id="tags" name="tags" placeholder="enter tags separated by commas, e.g personal,work">
    </div>
      <button type="submit" class="btn btn-dark rounded">Save</button>

</form>
</div>
</div>
</div>
<%- include('./partials/footer.ejs') %>